.game-area {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.score {
    font-family: sans-serif;
    font-weight: bold;
}

.game-area div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 50%;
}

.ghost-lair {
    background-color: pink;
    border-radius: 50%;
}

.pac-man {
    background-color: yellow;
    border-radius: 50%;
}